.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 700px;
  background-image: url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  min-height: 72px;
  height: auto;
  margin-top: 570px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 14px 0 0 957px;
  padding: 0 8px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  width: 44px;
  height: 53px;
}

.u-section-1 .u-form-1 {
  height: 77px;
  margin: -61px 44px 0 -22px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 700px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0 90px;
}

.u-section-1 .u-link-1 {
  border-style: solid;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 641px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-image-1 {
    min-height: 577px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 760px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    min-height: 442px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 544px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 456px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-image-1 {
    min-height: 212px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 256px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 157px;
}